[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasette = "*"
datasette-publish-fly = "*"
datasette-cluster-map = "*"
datasette-vega = "*"
datasette-copyable = "*"
sqlite-utils = "*"
datasette-configure-fts = "*"
datasette-search-all = "*"
datasette-geojson = "*"
geojson-to-sqlite = "*"
spatialite = "*"
datasette-geojson-map = "*"

[dev-packages]

[requires]
python_version = "3.9"
