{% import "_crumbs.html" as crumbs with context %}<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ urls.static('app.css') }}?{{ app_css_hash }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% for url in extra_css_urls %}
    <link rel="stylesheet" href="{{ url.url }}"{% if url.sri %} integrity="{{ url.sri }}" crossorigin="anonymous"{% endif %}>
{% endfor %}
{% for url in extra_js_urls %}
    <script {% if url.module %}type="module" {% endif %}src="{{ url.url }}"{% if url.sri %} integrity="{{ url.sri }}" crossorigin="anonymous"{% endif %}></script>
{% endfor %}
{%- if alternate_url_json -%}
    <link rel="alternate" type="application/json+datasette" href="{{ alternate_url_json }}">
{%- endif -%}
{%- block extra_head %}{% endblock -%}
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="container">
    {% block nav %}
    <nav>
        <div class="row">
            <div class="sevencol">
                <div class="shingle">
                    <a href="https://palewi.re/">
                        <div rel="rnews:copyrightedBy rnews:hasSource rnews:providedBy">
                            <div about="http://palewi.re/" typeof="rnews:Organization">
                                <div property="rnews:name">palewire</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="fivecol last links">
                <ul>
                    <li>
                        <a href="http://palewi.re/posts/" title="Posts">
                            Posts
                        </a>
                    </li>
                    <li>
                        <a href="http://palewi.re/work/" title="Work">
                            Work
                        </a>
                    </li>
                    <li>
                        <a href="http://palewi.re/talks/" title="Talks">
                            Talks
                        </a>
                    </li>
                    <li>
                        <a href="http://palewi.re/docs/" title="Docs">
                            Docs
                        </a>
                    </li>
                    <li>
                        <a href="http://palewi.re/who-is-ben-welsh/" title="Who is Ben Welsh?">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row topbar">
        <div class="twelvecol last"></div>
    </div>
    {% endblock %}


    {% block messages %}
    {% if show_messages %}
        {% for message, message_type in show_messages() %}
            <p class="message-{% if message_type == 1 %}info{% elif message_type == 2 %}warning{% elif message_type == 3 %}error{% endif %}">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endblock %}

    <section class="content row">
        <div class="interiorlist twelvecol last">
        {% block content %}
        {% endblock %}
        </div>
    </section>

    {% include "_close_open_menus.html" %}

    {% for body_script in body_scripts %}
        <script{% if body_script.module %} type="module"{% endif %}>{{ body_script.script }}</script>
    {% endfor %}

    {% if select_templates %}<!-- Templates considered: {{ select_templates|join(", ") }} -->{% endif %}
</div>
</body>
</html>
