{% extends "base.html" %}

{% block title %}{{ metadata.title or "Datasette" }}{% endblock %}

{% block body_class %}index{% endblock %}

{% block content %}
<h1>{{ metadata.title or "Datasette" }}{% if private %} 🔒{% endif %}</h1>

{% if metadata.description_html or metadata.description %}
<p class="description">
    {% if metadata.description_html %}
        {{ metadata.description_html|safe }}
    {% else %}
        {{ metadata.description }}
    {% endif %}
</p>
{% endif %}

{% for database in databases %}
<div class="row">
    <div class="listitem twelvecol last">
        <a href="{{ urls.database(database.name) }}">{{ database.name }}</a> {% if database.description %} • {{ database.description }}{% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}